/* Resetear estilos por defecto del navegador */
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-text-btn: #1F5991;
    --color-bg-btn-hover-top: #FFEDD9;
    --color-bg-btn-hover-bottom: #FFD574;
    --color-border-elements: #8E9CAD;
    --color-bg-calculator: #D9E4F1;
    --color-border-calculator: #EAD390;
    --color-bg-btn-close: #E04343;
    --color-icon-maximize: #898989;
    --color-bg-btn-minimize-hover: #3665B3;
}
/* tama単o de la calculadora */
.calculator {
    border:  5px solid var(--color-border-calculator);
    border-top-width: 0;
    background-color: var(--color-bg-calculator);
    max-width: 270px;
    margin: 50px auto 0;
    box-shadow: 0 0 0 1px var(--color-border-elements), 0 0 3px var(--color-border-elements);
}

.window-controls {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-border-calculator);
    font-family: arial;
    padding-bottom: 7px;
}

.window-controls--left {
    padding-top: 14px;
    padding-left: 3px;
}

.window-controls--right span {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
}

.window-controls--right span:not(:last-child) {
    padding-left: 7px;
    padding-right: 7px;
    transition: .1s all linear;
}

.window-controls--right span:first-child:hover {
    background-color: var(--color-bg-btn-minimize-hover);
    color: white;
}

.window-controls--right span:nth-child(2) {
    color: var(--color-icon-maximize);
}

.window-controls--right span:last-child {
    padding-left: 14px;
    padding-right: 14px;
    background: var(--color-bg-btn-close);
    color: white;
}

.display, .keyboard__btn {
	border: 1px solid var(--color-border-elements);
    border-radius: 3px;
}

.display {
	margin: 6px 12px 6px;
    background-image: linear-gradient(var(--color-bg-calculator), white);
    padding-bottom: 12px;
    padding-top: 3px;
}

.display__top, .display__bottom {
	display: block;
    padding-left: 1px;
    padding-right: 5px;
    text-align: right;
    border: none;
    background-color: transparent;
    max-width: 100%;
}

.display__top {
	font-size: 20px;
    height: 25px;
   
}

.display__bottom {
	font-size: 18px;
    font-weight: bold;
    height: 50px;
}

.keyboard {
    margin: 0 13px 13px;
    display: flex;
    flex-wrap: wrap;
}
/* tama単o columnas*/
.keyboard__btn {
    width: 41px;
    height: 54px;
    text-transform: uppercase;
    transition: .1s all linear;
}

.keyboard__btn:hover {
    background-image: linear-gradient(var(--color-bg-btn-hover-top), var(--color-bg-btn-hover-bottom));
    box-shadow: 0 0 2px 1px var(--color-bg-btn-hover-bottom);
}

.keyboard__btn:not(:nth-child(4)):not(:nth-child(8)):not(:nth-child(12)):not(:nth-child(16)):not(:nth-child(19)) {
    margin-right: 6px;
}

.keyboard__btn:not(:nth-child(17)):not(:nth-child(18)):not(:nth-child(19)) {
	margin-bottom: 10px;
}
/* tama単o del boton*/
.keyboard__btn:nth-child(20) {
    width: 85px;

}
.keyboard__btn:nth-child(23) {
    /*margin: 0 6px 6px;*/
    height: 120px;
    position: relative;
    top: -60px;
    

}

.btn_tama単o{
    width: 90px;
    height: 54px;
    text-transform: uppercase;
    transition: .1s all linear;
    position: relative;
    top: -5px;
  }
  
  .btn_tam{
    width: 45px;
    height: 120px;
    text-transform: uppercase;
    transition: .1s all linear;
    position: relative;
    top: -4px;
  }


